<ion-view>
    <div class="bar bar-subheader">
        <div class="tabs container">
            <a class="tab-item" ng-class="{active: tab == ''}" ng-click="viewAll(); tab=''">
                Seg
            </a>
            <a class="tab-item" ng-class="{active: tab == 'aluno'}" ng-click="viewByNivel('aluno'); tab = 'aluno' ">
                Ter
            </a>
            <a class="tab-item" ng-class="{active: tab == 'coach'}" ng-click="viewByNivel('coach'); tab = 'coach' ">
                Quar
            </a>
            <a class="tab-item" ng-class="{active: tab == 'gerente'}" ng-click="viewByNivel('gerente'); tab = 'gerente' ">
                Quin
            </a>
            <a class="tab-item" ng-class="{active: tab == 'gerente'}" ng-click="viewByNivel('gerente'); tab = 'gerente' ">
                Sext
            </a>
            <a class="tab-item" ng-class="{active: tab == 'gerente'}" ng-click="viewByNivel('gerente'); tab = 'gerente' ">
                Sab
            </a>
        </div>


    </div>

</ion-view>
