<div>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
					<button class="btn btn-primary pull-right" ng-click="modalCriarUser('show')" ng-show="podeCriar"> Adicionar Usuário</button>
			</ul>
		</div>
	</nav>

 	<div>
		<div class="panel panel-primary">
			<div class="panel-heading"> Usuários </div>

			<div class="panel-body">
   				<ul class="nav nav-tabs">
     				<li ng-class="{active: tab ==''}"><a ng-click="getUsers()">Todos</a></li>
     				<li ng-class="{active: tab == 'aluno'}"><a ng-click="getUsers('aluno')">Alunos</a></li>
     				<li ng-class="{active: tab == 'coach'}"><a ng-click="getUsers('coach')">Coaches</a></li>
     				<li ng-class="{active: tab == 'gerente'}"><a ng-click="getUsers('gerente')">Gerentes</a></li>
					<li class="pesquisa-linha container-fluid">
						<input id="pesquisar" class="pesquisar" type="text" placeholder="Pesquisar" ng-model="userPesquisado" maxlength="25">
						<span ng-click="userPesquisado=''" class="fa fa-close"></span>
					</li>
   				</ul>
 			</div>

 			<div class="table-responsive table-style">
 				<table class="table table-striped table table-bordered">
 					<thead>
 					<tr style="border: bold;color:#1E90FF">

 						<th> Nome	</th>

 						<th> Projeto</th>

 						<th> Sala</th>

 					</tr>

 				</thead>

 				<tbody>

 					<tr ng-repeat="user in users | filter: {nome: userPesquisado} | filter: {projeto: projetoPesquisado}">

 						<td>
							<img class="img-circle fotoMenu" width="48px" ng-show="user.avatarUrl" src="{{user.avatarUrl}}">
							<a ng-click="visualizarUser(user)">{{user.nome}}</a>

							</td>

 						<td>{{ user.projeto.nome }}</td>

 						<td>{{ user.sala.localizacao }}</td>

 					</tr>

 				</tbody>
 			</table>
 		</div>
 	</div>


	<!---------------------------------------- MODAL ------------------------------------------->

	<!-- MODAL CRIAR USUÁRIOS -------------------->

 	<div id="registrar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
 		<div class="modal-dialog" role="document">
 			<div class="modal-content">
 				<div class="modal-header">
 					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
 					<h4 class="modal-title" id="gridSystemModalLabel">Criar Usuário</h4>
 				</div>
 				<div class="modal-body">

 					<div class="tab-content">
 						<div class="tab-pane active">
 							<form id="criarUser" role="form" class="form-horizontal">

 									<div class="form-group">
 										<label for="nome" class="col-sm-2 control-label">Nome</label>
 										<div class="col-sm-10">
 											<input type="nome" class="form-control" id="nome" ng-model="nome" placeholder="Nome" maxlength="100"/>
 										</div>
 									</div>


 									<div class="form-group" class="row">
										<div>
												<label for="nivel" class="col-sm-2 control-label">Nivel</label>
												<div class="col-sm-4">
														<div>
														  <select id="nivel" ng-model="nivel" class="form-control">
															  <option>gerente</option>
															  <option>coach</option>
															  <option>aluno</option>
														  </select>
									  					</div>
												</div>
										</div>
 									</div>

 									<div class="form-group">
 										<label for="email" class="col-sm-2 control-label">Email</label>
 										<div class="col-sm-10">
 											<input type="text" ng-model="email"
												   class="form-control" id="email"
												   placeholder="Email" maxlength="100"/>
										</div>
 									</div>

 									<div class="form-group">
 										<label for="login" class="col-sm-2 control-label">Login</label>
 										<div class="col-sm-10">
 											<input class="form-control" id="login" ng-model="loginUser" placeholder="Login" maxlength="24"/>
 										</div>
 									</div>
 									<div class="form-group">
 										<label for="senha" class="col-sm-2 control-label">Senha</label>
 										<div class="col-sm-10">
 											<input type="password" class="form-control" id="senha" ng-model="senha" placeholder="Senha" maxlength="12"/>
 										</div>
 									</div>
 								</form>
 							</div>
 							<div class="modal-footer">
 								<button type="button" class="btn btn-default" ng-click="blankInputs('criarUser'); modalCriarUser('hide')">Cancelar</button>
 								<button type="button" class="btn btn-primary" ng-click="criarUser()">Criar</button>
 							</div>
 						</div>
 					</div>
 				</div>
			</div>
		</div>
 </div>
